=== ThreadForge best-effort PCF subset (not Autodesk-certified) ===
ISOGEN-FILES             ISOGEN.FLS
UNITS-BORE               MM
UNITS-CO-ORDS            MM
UNITS-BOLT-LENGTH        MM
UNITS-WEIGHT             KGS
PIPELINE-REFERENCE       120-P-1001
PIPING-SPEC              CS
ATTRIBUTE0               SERVICE PROCESS-REV
ATTRIBUTE1               MATERIAL CS
ATTRIBUTE2               FROM 120-VEPR-2010-N1
ATTRIBUTE3               TO 124-PKSA-0500-N1
    
PIPE
    END-POINT             20000 15000 10000 150.0
    END-POINT             60000 15000 10000 150.0
    
PIPE
    END-POINT             60000 15000 10000 150.0
    END-POINT             60000 15000 7500 150.0
    
ELBOW
    END-POINT             20000 15000 10000 150.0
    END-POINT             60000 15000 7500 150.0
    CENTRE-POINT          60000 15000 10000
    SKEY                  EL
    
MATERIALS-LIST           120-P-1001-ELB-01 ELBOW
MATERIALS-LIST           120-P-1001-FLG-01 FLANGE
MATERIALS-LIST           120-P-1001-GSK-01 GASKET
MATERIALS-LIST           120-P-1001-PIPE-01 PIPE
MATERIALS-LIST           120-P-1001-RED-01 REDUCER
    
END-OF-FILE
